<html>
<head>
<div id="header">
<h1>PC Store</h1>
</div>
</head>
<body>
<h1 align=center > Анкета </h1>
<a href="proekt.html"><button> Начало </button></a>
<p >
<form>
Име:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  name="form1"  type="text" size="20" value=""> </br>
Фамилия:&nbsp;&nbsp;&nbsp;<input  name="form1"  type="text" size="20" value=""> </br>
Ел.поща:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input  name="form1"  type="text" size="35" value=""></br>
Мнение: 

<input  name="form1"  type="text" size="220"  value="">
</form></p>
<a href="snimka.exe"><button> Send! </button></a>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
</body>
</html>