<html>
<head>
  <div id='header'>
    <h1> PC Store </h1>
    <a href='/'><button> Начало </button></a>
  </div>
</head>
<body>
</br></br></br></br>

  <div id='image'>
<img src='/static/store-1.jpeg' align="middle"  width="250" height="200" >
<h3> София, ул. Македония</h3>
<h3> Работно време: </br>
  Понеделник-Петък: 10:00 - 20:00
  </h3>

<img src='/static/store-2.jpeg' align="middle"  width="250" height="200" >

<h3> Разлог, ул. Балкан</h3>
<h3> Работно време: </br>
  Понеделник-Петък: 10:00 - 20:00
  </h3>


</div>





<div id='footer'>
  <h3> Информация </h3>
  </div>

  <style>
    #image {
      text-align:center;
      color:red;
      image-align:center;


    }

 body {
   background-image: url('https://cdn.discordapp.com/attachments/392027021166772245/980372751086927902/unknown.png');
   background-repeat: no-repeat;
 }
 #header {
     background-color:black;
     color:white;
     text-align:center;
     padding:5px;
}
 #footer {
     background-color:black;
     color:white;
     clear:both;
     text-align:center;
     padding:15px;
  }
 </style>


</body>
</html>
