<html>
<head>
<title>PC section</title>
<div id="header">
<h1>PC Store</h1>
<a href='/'><button> Начало </button></a>
</div>
</head>
<body>
<p align=left> <img src="/static/pc2.jpg" />
<h2> DELL </h2>
<li> Intel Core i3-8100 (3.60 GHz, 6M)
<li> Intel UHD Graphics 630
<li>4 GB DDR4 2400 MHz
<li>1TB 7200rpm
</br></br> </br> </br>
<img src="/static/PC3.jpg" width="250" height="350" /> </br>
<h2> Toshiba </h2>
<li>AMD Ryzen 3 1200 (3.1GHz, 8M)
<li>AMD Ryzen 3 1200 (3.1GHz, 8M)
<li>NVIDIA GTX1050Ti 4GB
<li>8 GB DDR4 2666 MHz
<li>1TB 7200rpm
<li>250 GB SSD
</p>

<div id='footer'>
  <h3> Компютри </h3>
</div>

{% extends "div.html" %}
{% block div %}
{% endblock %}

</body>
</html>
